
<div>
  <a id="menu-toggle-anonym" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
  <div id="sidebar-wrapper-anonym">
    <ul class="sidebar-nav">
      <a id="menu-close-anonym" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    </ul>

    <div class="profile">
      <div class="inside">

        <div ng-init="loadInfo()" class="info">
          <form name="registerForm" method="POST" action="/API/upload">
            <fieldset id="registerFieldset">
              <legend>Me</legend>
              <input id="username" type="hidden" value="{{userInformation.username}}"/>

              <div ng-hide="validations.anonymUser" class="daysleftwrap">
                <div ng-show="newpermit.days" class="daysleft">
                  <label><strong>You have <span class="text-error">{{days}} </span>days left to confirm your account via email. Click <span ng-click="resend()" class="text-error hereclick">here</span> to resend it to your email</strong></label>
                </div>
              </div>
              <div class="alert alert-success" ng-show="newpermit.email" class="daysleft">
                Email has been send
              </div>

              <div class="row-fluid profilepic">
                <div class="span12">
                  <img id="popoverInfoMe" ng-src="{{avatar}}" class="img-rounded"/>
                  <video id="webrtc-sourcevid" muted autoplay="" style="width: 320px; height: 240px; border: 1px solid black;"></video>
                  <button type="button" onclick="connect();">Connect</button>
                  <ul>
                    <li id="deleteclick" ng-click="deletePhoto()"><i class="glyphicon glyphicon-remove"></i></li>
                    <li id="uploadclick" ng-click="uploadClick()"><i class="glyphicon glyphicon-upload"></i></li>
                  </ul>
                </div>
                  <upload></upload>

              </div>

            </fieldset>
          </form>
        </div>
      </div>
      <div ng-init="initchat()"></div>
    </div>

    <div class="user">
      <div class="inside">
        <form>
          <fieldset class="fieldsetProfile">
            <legend class="sidebar-brand">Anonym</legend>
            <input id="confirm" type="button" ng-click="otherUser()" style="display: none;"/>
            <div class="row-fluid profilepic">
              <img id="anonym-profile" ng-src="{{otherUserInfo.avatar}}" class="img-rounded"/>
              <video id="webrtc-remotevid" controls autoplay="" style="width: 320px; height: 240px; border: 1px solid black;"></video>
            </div>
          </fieldset>
        </form>

      </div>
    </div>

  </div>

  <div class="chatwrap">
    <div id="conversation" class="well well-lg">
      <div class="container">

      </div>
    </div>

    <div class="extra-buttons" id="extra-buttons">
      <button class="btn btn-primary log" id="nextButton" ng-click="newRoom()"><i class="glyphicon glyphicon-plus"></i> New Room</button>
      <button class="btn btn-primary log" id="newVideoChat"><i class="glyphicon glyphicon-film"></i> video chat</button>
      <button class="btn btn-primary log" id="changeRoom" ng-click="changeRoom()"><i class="glyphicon glyphicon-film"></i> Cambiar de sala</button>
    </div>

    <div class="wraper-chat">
      <form class="form-inline textChat">
        <div id="userTyping">
          <p class="text-info">User Typing...</p>
        </div>
        <div class="row-fluid">
          <div class="chatSendContainer">
            <div class="input">
              <input id="data" placeholder="Press enter to send" ngChange="pullDown()" type="text" disabled="disabled"/>
            </div>
            <input id="datasend" type="button" value="send" disabled="disabled"/>
            <span class="glyphicon glyphicon-camera mycam"></span>
            <input type="file" id="imagefile" accept="image/*">
            <div id="btnEmoticon" class="btnEmoticon"></div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>


<div class="mypop popoverInfoMeModal me">
    <ul class="sidebar-nav infomodel">
        <a ng-href="" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    </ul>
  <h3 class="popover-title">My Profile</h3>
  <alert ng-repeat="alert in alerts" close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="popover-content" ng-hide="validations.anonymUser">
    <div ng-hide="validations.anonymUser">
      <label>Name</label>
      <input ng-model="userInformation.name" type="text" placeholder="Name" class="FocusAccion"/>
    </div>
    <div ng-hide="validations.anonymUser">
      <label>Birthday</label>
      <!--<input id="datepicker" name="datepicker" type="text" ng-model="userInformation.birth"/>-->
      <p class="input-group">
        <input name="datepicker" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="userInformation.birth" is-open="opened"  close-text="Close" datepicker-append-to-body="true" />
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
      </p>
    </div>
    <div ng-hide="validations.anonymUser">
      <label ng-hide="validations.anonymUser">Email</label>
      <input name="email" id="email" ng-model="userInformation.email" type="text" placeholder="Email contact" class="FocusAccion"/>
    </div>
    <div ng-hide="validations.anonymUser">
      <label ng-hide="validations.anonymUser">Location</label>
      <input id="locationgeo" type="text" placeholder="Where are you?" ng-model="userInformation.location" class="FocusAccion"/>
      <div class="share">
        <label>Would you like to share your location?
          <input id="checklocation" type="checkbox" ng-model="confirmed" ng-change="locationBool(); updateUsers();"/>
        </label>
      </div>
    </div>
    <div ng-hide="validations.anonymUser" class="sex">
      <label>Gender</label>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          {{userInformation.gender}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li id="male"> <a ng-click="userInformation.gender = 'Male'; updateUsers();">Male</a></li>
          <li id="female"> <a ng-click="userInformation.gender = 'Female'; updateUsers();">Female</a></li>
          <li id="other"> <a ng-click="userInformation.gender = 'Other'; updateUsers();">Other</a></li>
        </ul>
      </div>


    </div>
    <div ng-hide="validations.anonymUser">
      <label ng-hide="validations.anonymUser">About you</label>
      <textarea name="about" id="about" ng-model="userInformation.description" type="text" placeholder="Description" class="FocusAccion"></textarea>
    </div>
    <div>
        <button ng-click="updateUsers()" class="btn btn-success">Save</button>
    </div>
          <div class="btn-group dropup" ng-show="logoutBtn">
              <button type="button" class="btn btn-danger" ng-click="logout()">Sign out</button>
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                  <li><a ng-click="deleteAccount()">Delete Account</a></li>
              </ul>
          </div>
  </div>
</div>

<div class="mypop popoverInfoMeModal other">
    <ul class="sidebar-nav infomodel">
        <a ng-href="" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    </ul>
  <h3 class="popover-title">my info</h3>
  <div class="popover-content">
    <div ng-hide="validations.anonymOtherUserValidationFields.Name">
      <label>Name</label>
      <label>{{otherUserInfo.name}}</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Birth">
      <label>Birth</label>
      <label>{{otherUserInfo.birth}}</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Email">
      <label>Email</label>
      <label>{{otherUserInfo.email}}</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Location">
      <label>Location</label>
      <label>{{otherUserInfo.location}}</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Gender">
      <label>Gender</label>
      <label>{{otherUserInfo.gender}}</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Description">
      <label>About you</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Description">
      <div class="well">{{otherUserInfo.description}}</div>
    </div>
  </div>
</div>
<!-- modal home password -->
<div class="modal fade" id="modMain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Welcome
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <home></home>
            </div>
        </div>
    </div>
</div>
<!-- modal remember password -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-submit="forgotpass()">
                <div class="modal-header">
                    <h3  ><%= __('EnterEmail') %></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div ng-show="password.remember" class="alert alert-success"  ><strong><%= __('Success') %> </strong><%= __('EmailHasBeenSent') %></div>
                    <div ng-show="password.remembererror" class="alert alert-danger"  ><strong  ><%= __('Oops') %> </strong><%= __('EmailDoesNotExist') %></div>
                    <div class="input-prepend"><span class="add-on"> <i class="icon-envelope"></i></span>
                        <input type="email" placeholder="<%= __('Email') %>" id="forgotemail" name="forgotemail" ng-model="Remember.forgotemail" required="required"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ><%= __('Send') %></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="firstlight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <h3 style="color: #000;margin: 0;padding: 0">Hi there!</h3>
                </div>
                <div class="modal-body">
                    <p>Welcome to talkus! here we can put what ever or click <span ng-click="getlog()">Here</span> to sign up</p>
                </div>
        </div>
    </div>
</div>
<!-- build:js({.tmp,app}) scripts/chat.js -->
<script src="scripts/personalScripts/datepicker.js"></script>
<script src="scripts/personalScripts/ba-emotify.js"></script>
<script src="scripts/personalScripts/chat.js"></script>
<script src="scripts/personalScripts/video-chat-streaming.js"></script>
<!-- endbuild -->