<div>
  <a id="menu-toggle-anonym" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
  <div id="sidebar-wrapper-anonym">
    <ul class="sidebar-nav">
      <a id="menu-close-anonym" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    </ul>
      <div ng-show="validations.anonymUser" class="profile">
          <fieldset class="fieldsetProfile">
              <legend class="sidebar-brand">Anonym</legend>
              <div class="row-fluid profilepic">
                  <img ng-src="/images/uploads/images/avatars/default.jpg" class="img-rounded" src="/images/uploads/images/avatars/default.jpg">
              </div>
          </fieldset>
      </div>
    <div ng-hide="validations.anonymUser" class="profile">
      <div class="inside">



        <div ng-init="loadInfo()" class="info">
          <form name="registerForm" method="POST" action="/API/upload">
            <fieldset id="registerFieldset">
              <legend>Me</legend>
              <input id="username" type="hidden" value="{{userInformation.username}}"/>

              <div ng-hide="validations.anonymUser" class="daysleftwrap">
                <div ng-show="newpermit.days" class="daysleft">
                  <label><strong>You have <span class="text-error">{{days}} </span>days left to confirm your account via email. Click <span ng-click="resend()" class="text-error hereclick">here</span> to resend it to your email</strong></label>
                </div>
              </div>
              <div class="alert alert-success" ng-show="newpermit.email" class="daysleft">
                Email has been send
              </div>

              <div class="row-fluid profilepic">
                <div class="span12">
                  <img id="popoverInfoMe" ng-src="{{avatar}}" class="img-rounded"/>
                  <div id="publisherContainer"></div>
                  <ul>
                    <li id="deleteclick" ng-click="deletePhoto()"><i class="glyphicon glyphicon-remove"></i></li>
                    <li id="uploadclick" ng-click="uploadClick()"><i class="glyphicon glyphicon-upload"></i></li>
                  </ul>
                </div>
                  <upload></upload>

              </div>

            </fieldset>
          </form>
        </div>
      </div>
      <div ng-init="initchat()"></div>
    </div>

    <div class="user">
      <div class="inside">
        <form>
          <fieldset class="fieldsetProfile">
            <legend class="sidebar-brand">Anonym</legend>
            <input id="confirm" type="button" ng-click="otherUser()" style="display: none;"/>
            <div class="row-fluid profilepic">
              <img id="anonym-profile" ng-src="{{otherUserInfo.avatar}}" class="img-rounded"/>
              <div id="subscriberContainer"></div>
            </div>
          </fieldset>
        </form>

      </div>
    </div>

  </div>

  <div class="chatwrap">
    <div id="conversation" class="well well-lg">
      <div class="container">

      </div>
    </div>

    <div class="extra-buttons" id="extra-buttons">
      <button class="btn btn-primary log" id="nextButton">New Room</button>
      <button class="btn btn-primary log" id="newVideoChat" ng-click="newVideoChat()">video chat</button>
    </div>

    <div class="wraper-chat">
      <form class="form-inline textChat">
        <div id="userTyping">
          <p class="text-info">User Typing...</p>
        </div>
        <div class="row-fluid">
          <div class="chatSendContainer">
            <div class="input">
              <input id="data" placeholder="Press enter to send" ngChange="pullDown()" type="text" disabled="disabled"/>
            </div>
            <input id="datasend" type="button" value="send" disabled="disabled"/>
            <span class="glyphicon glyphicon-camera mycam"></span>
            <input type="file" id="imagefile" accept="image/*">
            <div id="btnEmoticon" class="btnEmoticon"></div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>


<div class="mypop popoverInfoMeModal me">
    <ul class="sidebar-nav infomodel">
        <a ng-href="" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    </ul>
  <h3 class="popover-title">my info</h3>
  <div class="popover-content" ng-hide="validations.anonymUser">
    <div ng-hide="validations.anonymUser">
      <label>Name</label>
      <input ng-model="userInformation.name" type="text" placeholder="Name" class="FocusAccion"/>
    </div>
    <div ng-hide="validations.anonymUser">
      <label>Birthday</label>
      <!--<input id="datepicker" name="datepicker" type="text" ng-model="userInformation.birth"/>-->
      <p class="input-group">
        <input name="datepicker" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="userInformation.birth" is-open="opened" min="minDate" max="'2015-06-22'"  close-text="Close" />
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
      </p>
    </div>
    <div ng-hide="validations.anonymUser">
      <label ng-hide="validations.anonymUser">Email</label>
      <input name="email" id="email" ng-model="userInformation.email" type="text" placeholder="Email contact" class="FocusAccion"/>
    </div>
    <div ng-hide="validations.anonymUser">
      <label ng-hide="validations.anonymUser">Location</label>
      <input id="locationgeo" type="text" placeholder="Where are you?" ng-model="userInformation.location" class="FocusAccion"/>
      <div class="share">
        <label>Would you like to share your location?
          <input id="checklocation" type="checkbox" ng-model="confirmed" ng-change="locationBool(); updateUsers();"/>
        </label>
      </div>
    </div>
    <div ng-hide="validations.anonymUser" class="sex">
      <label>Gender</label>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          {{userInformation.gender}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li id="male"> <a ng-click="userInformation.gender = 'Male'; updateUsers();">Male</a></li>
          <li id="female"> <a ng-click="userInformation.gender = 'Female'; updateUsers();">Female</a></li>
          <li id="other"> <a ng-click="userInformation.gender = 'Other'; updateUsers();">Other</a></li>
        </ul>
      </div>


    </div>
    <div ng-hide="validations.anonymUser">
      <label ng-hide="validations.anonymUser">About you</label>
      <textarea name="about" id="about" ng-model="userInformation.description" type="text" placeholder="Description" class="FocusAccion"></textarea>
    </div>
    <div>
      <label ng-click="updateUsers()" class="updateUser"></label>
    </div>
          <div class="btn-group dropup" ng-show="logoutBtn">
              <button type="button" class="btn btn-danger" ng-click="logout()">Sign out</button>
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                  <li><a ng-click="deleteAccount()">Delete Account</a></li>
              </ul>
          </div>
  </div>
</div>

<div class="mypop popoverInfoMeModal other">
    <ul class="sidebar-nav infomodel">
        <a ng-href="" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    </ul>
  <h3 class="popover-title">my info</h3>
  <div class="popover-content">
    <div ng-hide="validations.anonymOtherUserValidationFields.Name">
      <label>Name</label>
      <label>{{otherUserInfo.name}}</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Birth">
      <label>Birth</label>
      <label>{{otherUserInfo.birth}}</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Email">
      <label>Email</label>
      <label>{{otherUserInfo.email}}</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Location">
      <label>Location</label>
      <label>{{otherUserInfo.location}}</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Gender">
      <label>Gender</label>
      <label>{{otherUserInfo.gender}}</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Description">
      <label>About you</label>
    </div>
    <div ng-hide="validations.anonymOtherUserValidationFields.Description">
      <div class="well">{{otherUserInfo.description}}</div>
    </div>
  </div>
</div>

<!-- build:js({.tmp,app}) scripts/chat.js -->
<script src="scripts/personalScripts/datepicker.js"></script>
<script src="scripts/personalScripts/ba-emotify.js"></script>
<script src="scripts/personalScripts/TB.min.js"></script>
<script src="scripts/personalScripts/chat.js"></script>
<!-- endbuild -->