style.
    .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}
  
.hero-unit.center
    h1
        | Page Not Found
    br
    p
        | The page you requested could not be found. Use your browsers 
        b Back 
        | button to navigate to the page you have prevously come from
    p
        b Or you could just press this neat little button:
    a.btn.btn-large.btn-info(href='/')
        i.icon-home.icon-white
        | Take Me Home