.row-fluid
    .span12
        .well
          .alert.alert-error
            button.close(type='button', data-dismiss='alert') ×
            | Please fill all required fields
          .alert.alert-success
            button.close(type='button', data-dismiss='alert') ×
            | you're account has been updated succesfully!
          form
            fieldset
              legend Profile
              p.muted This information appears on your public profile.
              .row-fluid.profilepic
                .span2
                  img.img-rounded(src='http://lorempixel.com/100/100/people/')
                .span10
                  .btn-group
                    a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                      | Change picture
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='') Upload photo
                      li
                        a(href='') Delete photo
                  p.muted
                    span Share this photo
                    input(type='checkbox')
              label Name
              input(type='text', placeholder='Real name or alias')
              label Location
              input(type='text', placeholder='Where are you?')
              label Gender
              label.radio.inline
                input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='checked')
                | Male
              label.radio.inline
                input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='checked')
                | Female
              label About you
              textarea
              div
                button.btn.btn-success(type='submit') Save changes
