script(src='js/lib/chat.js')
script
    var socket = io.connect('http://talkus.mrtrom.c9.io/#/chatbeta');
    
    socket.on('connect', function(){
        var username = $('#username').val();
        socket.emit('adduser', username);
    });
    
    socket.on('updatechat', function (username, data) {
        $('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
    });
    
    socket.on('updateAnonymInfo', function (username, user) {
        $('#confirm').click();
    });
    
    $('#datasend').on('click', function() {
        var message = $('#data').val();
        $('#data').val('');
        socket.emit('sendchat', message);
    });
    
    $('#data').keypress(function(e) {
        if(e.which == 13) {
            $(this).blur();
            $('#datasend').focus().click();
            $('#data').focus();
        }
    });
#city
.icon.useri
  i.icon-user
.user
  .row-fluid
    .span12
        .well
          form
            fieldset
              legend Profile {{otherUserInfo.username}}
              input#confirm(type='button', ng-click='otherUser()', style='display: none;')
              .row-fluid.profilepic
                img.img-rounded(src='http://lorempixel.com/200/200/people/')
              label Name
              label {{otherUserInfo.name}}
              label About you
              .well
                {{otherUserInfo.description}}
.icon.profilei
  i.icon-edit
.profile
  .row-fluid
    .span12
        .well
          .alert.alert-error
            button.close(type='button', data-dismiss='alert') ×
            | Please fill all required fields
          .alert.alert-success
            button.close(type='button', data-dismiss='alert') ×
            | you're account has been updated succesfully!
          form(name='registerForm',ng-upload='ng-upload', method='POST', action='/API/upload')
            fieldset
              legend Profile {{userInformation.username}}
              input#username(type='hidden', value='{{userInformation.username}}')
              p.muted This information appears on your public profile.
              .row-fluid.profilepic
                .span2
                  img.img-rounded(src='http://lorempixel.com/200/200/people/')
                .span10
                  .btn-group
                      p
                        input(type='file', name='file')
                      p
                        input.btn(upload-submit='uploadImage(content)', type='submit', value='Submit')
                  p.muted
                    span Share this photo
                    input(type='checkbox')
              label Name
              input#inputUsername(name='name', id='name', ng-model='userInformation.name', type='text', placeholder = "Name")
              label Email
              input#inputUsername(name='email', id='email', ng-model='userInformation.email', type='text', placeholder = "Email contact")
              label Location
              input(type='text', placeholder='Where are you?')
              label Gender
              label.radio.inline
                input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='checked')
                | Male
              label.radio.inline
                input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='checked')
                | Female
              label About you
              textarea(name='about', id='about', ng-model='userInformation.description', type='text', placeholder = "Description")
              div
                button.btn.btn-success(type='button',ng-click="updateUsers()") Save changes
                
.row-fluid.chatwrap
    .span12
        .well.well-large
          p.muted Connecting to server...
          p.muted
            strong Connected!
          #conversation
            div
              i.icon-user
              span.text-info Tromboy:
              | Hi!
        form.form-inline
          .row-fluid
            .span12
              textarea#data(placeholder='Press enter to send')
              input#datasend(type='button', value='send')