script(src='js/lib/chat.js')
script(src='js/lib/location.js')
script(src='js/datepicker.js')
script
    var socket = io.connect('http://talkus.mrtrom.c9.io/#/chatbeta');
    
    socket.on('connect', function(){
        var username = $('#username').val();
        socket.emit('adduser', username);
    });
    
    socket.on('updatechat', function (username, data) {
        $('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
    });
    
    socket.on('updateAnonymInfo', function (username, user) {
        $('#confirm').click();
    });
    
    $('#datasend').on('click', function() {
        var message = $('#data').val();
        $('#data').val('');
        socket.emit('sendchat', message);
    });
    
    $('#data').keypress(function(e) {
        if(e.which == 13) {
            $(this).blur();
            $('#datasend').focus().click();
            $('#data').focus();
        }
    });
    
.icon.useri
  i.icon-user
.user
  .row-fluid
    .span12
        .well
          form
            fieldset
              legend Profile {{otherUserInfo.username}}
              input#confirm(type='button', ng-click='otherUser()', style='display: none;')
              .row-fluid.profilepic
                img.img-rounded(ng-src='{{otherUserInfo.avatar}}')
            div(ng-hide='validations.anonymOtherUser')
              label Name
              label {{otherUserInfo.name}}
            div(ng-hide='validations.anonymOtherUser')
              label About you
            div(ng-hide='validations.anonymOtherUser')
              .well
                {{otherUserInfo.description}}
.icon.profilei
  i.icon-edit
.profile
  .row-fluid
    .span12
        .well(ng-init='loadInfo()')
          form(name='registerForm', ng-upload='ng-upload', method='POST', action='/API/upload')
            fieldset
              legend Profile {{userInformation.username}}
              input#username(type='hidden', value='{{userInformation.username}}')
              .row-fluid.profilepic
                .span2
                  img.img-rounded(ng-src='{{userInformation.avatar}}')
                  ul
                    li#deleteclick(ng-click="deletePhoto()")
                      i.icon-remove
                    li#uploadclick(ng-click="uploadClick()")
                      i.icon-upload
                .span10
                  .btn-group.uploadimgtrue(ng-hide='validations.anonymUser')
                      p
                        input#fileimg(type='file', name='file')
                      p
                        input.btn#imgbtn(upload-submit='uploadImage(content)', type='submit', value='Submit')
                  
              div(ng-hide='validations.anonymUser')
                label Name
                input.FocusAccion#inputUsername(name='name', id='name', ng-model='userInformation.name', type='text', placeholder = "Name")
              div(ng-hide='validations.anonymUser')
                label Birthday
                input#datepicker(name='datepicker', type='text')
              div(ng-hide='validations.anonymUser')
                label(ng-hide='validations.anonymUser') Email
                input.FocusAccion#inputUsername(name='email', id='email', ng-model='userInformation.email', type='text', placeholder = "Email contact")
              div(ng-hide='validations.anonymUser')
                label(ng-hide='validations.anonymUser') Location
                input.FocusAccion#locationapi(type='text', placeholder='Where are you?' , ng-model='userInformation.location' , disabled)
                .share
                  label Would you like to share your location?
                    input#checklocation(type="checkbox" , ng-model="confirmed" , ng-change="locationBool(); updateUsers();")
              div.sex(ng-hide='validations.anonymUser')
                  label Gender
                  .btn-group
                    a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                        | {{userInformation.gender}} 
                        span.caret
                    ul.dropdown-menu
                      li#male 
                        a(ng-click="userInformation.gender = 'Male'; updateUsers();") Male
                      li#female 
                        a(ng-click="userInformation.gender = 'Female'; updateUsers();") Female
                      li#other 
                        a(ng-click="userInformation.gender = 'Other'; updateUsers();") Other
              div(ng-hide='validations.anonymUser')
                label(ng-hide='validations.anonymUser') About you
                textarea.FocusAccion(name='about', id='about', ng-model='userInformation.description', type='text', placeholder = "Description")
              div
                label.updateUser(ng-click="updateUsers()")
                
.row-fluid.chatwrap
    .span12
        .well.well-large
          p.muted Connecting to server...
          p.muted
            strong Connected!
          #conversation
            div
              i.icon-user
              span.text-info Tromboy:
              | Hi!
        form.form-inline
          .row-fluid
            .span12
              textarea#data(placeholder='Press enter to send')
              input#datasend(type='button', value='send')