.row-fluid
    script
        var socket = io.connect('http://talkus.mrtrom.c9.io/#/chatbeta');
        
        socket.on('connect', function(){
            var name = prompt("What's your name?");
            socket.emit('adduser', name);
        });
        
        socket.on('updatechat', function (username, data) {
            $('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
        });
        
        $('#datasend').on('click', function() {
            var message = $('#data').val();
            $('#data').val('');
            socket.emit('sendchat', message);
        });
        
    div(style='float: left; width: 300px; height: 250px; overflow: scroll-y; padding: 10px;')
        #conversation
        input#data(style='width: 200px;')
        input#datasend(type='button', value='send')