script(src='js/lib/chat.js')
.icon.useri
  i.icon-user
.user
  .row-fluid
    .span12
        .well
          form
            fieldset
              legend Profile
              .row-fluid.profilepic
                img.img-rounded(src='http://lorempixel.com/200/200/people/')
              label Name
              label {username}
              label Location
              label {userLocation}
              label Gender
              label {userGender}
              label About you
              .well
                {userInfo}
.icon.profilei
  i.icon-edit
.profile
  .row-fluid
    .span12
        .well
          .alert.alert-error
            button.close(type='button', data-dismiss='alert') ×
            | Please fill all required fields
          .alert.alert-success
            button.close(type='button', data-dismiss='alert') ×
            | you're account has been updated succesfully!
          form
            fieldset
              legend Profile
              p.muted This information appears on your public profile.
              .row-fluid.profilepic
                .span2
                  img.img-rounded(src='http://lorempixel.com/200/200/people/')
                .span10
                  .btn-group
                    a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                      | Change picture
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='') Upload photo
                      li
                        a(href='') Delete photo
                  p.muted
                    span Share this photo
                    input(type='checkbox')
              label Name
              input(type='text', placeholder='Real name or alias')
              label Location
              input(type='text', placeholder='Where are you?')
              label Gender
              label.radio.inline
                input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='checked')
                | Male
              label.radio.inline
                input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='checked')
                | Female
              label About you
              textarea
              div
                button.btn.btn-success(type='submit') Save changes
.row-fluid.chatwrap
    .span12
        .well.well-large
          p.muted Connecting to server...
          p.muted
            strong Connected!
          div
            i.icon-user
            span.text-info Tromboy:
            | Hi!
          div
            i.icon-user
            span.text-success Night:
            | How you doing?!
            i.icon-ok-sign
            i.icon-ok-sign
          div
            i.icon-user
            span.text-info Tromboy:
            | Lollipop macaroon sweet fruitcake gingerbread cookie jelly sesame snaps. Cookie chocolate bar powder powder. Jelly-o wafer croissan
          div
            i.icon-user
            span.text-success Night:
            | olate icing jujubes. Liquorice cake chocolate. Oat cake bonbon applicake marshmallow cupcake. Macaroon caramels chocolate jelly chocolate bar chocolate bar. Apple pie ice cream jujubes jelly icing dessert lemon drops. Halvah liquorice ice cream sweet roll topping croissant sweet dessert candy. Bonbon sugar plum chupa chups. Sweet roll candy carrot cake candy canes. Icing jujubes chocolate cake. Carrot cake oat cake marzipan cookie. Oa
            i.icon-ok-sign
            i.icon-ok-sign
          div
            i.icon-user
            span.text-info Tromboy:
            | Carrot cake drag gummi bears ice cream jelly beans wypas. Cheesecake pie toot
          div
            i.icon-user
            span.text-success Night:
            | How you doing?!
            i.icon-ok-sign
            i.icon-ok-sign
          div
            i.icon-user
            span.text-info Tromboy:
            | Hi!
          div
            i.icon-user
            span.text-success Night:
            | How you doing?!
            i.icon-ok-sign
            i.icon-ok-sign
          div
            i.icon-user
            span.text-info Tromboy:
            | Hi!
          div
            i.icon-user
            span.text-success Night:
            | How you doing?!
            i.icon-ok-sign
            i.icon-ok-sign
        form.form-inline
          .row-fluid
            .span12
              textarea(placeholder='Press enter to send')
          p {{username}}