.row-fluid.home
    .span6
        .centerform
          h3.in Sign in
          form.form-horizontal.front-form(name='singInForm', ng-submit="submitLogin()")
            .alert.alert-error.error(ng-show='permissions.invalidUserInfo')
              p
                strong Username
                |    or  
                strong Password
                |    incorrect
                
            .control-group
              .controls
                input#inputUsername(name='username', id='username', ng-model='session.username', type='text', placeholder='Username or email', required)
                a.thetool(ng-show='singInForm.username.$error.required' , href='javascript:;', data-toggle='tooltip', data-trigger='hover', data-placement='right' , title='You must enter a username or an email')
                  i.icon-exclamation-sign.moveicon
            .control-group.password
              .controls
                input#inputPassword(name='password', id='password',ng-model='session.password', type='password', placeholder='Password' , required)
                a.thetool(ng-show='singInForm.password.$error.required' , href='javascript:;', data-toggle='tooltip', data-trigger='hover', data-placement='right' , title='You must enter a password')
                  i.icon-exclamation-sign.moveicon
            .control-group
              .controls
                button.btn.btn-primary.log(type='submit') Sign in
          a.text-info(href='#myModal', role='button', data-toggle='modal') Forgot password?
          #myModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            form(ng-submit="forgotpass()")
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h3 Please enter your email.
                  .modal-body
                    .alert.alert-success(ng-show='password.remember')
                      strong Success! 
                      | an email has been send, please check your inbox
                    .alert.alert-error(ng-show='password.remembererror')
                      strong Oops! 
                      | looks like that email does not exist on out servers.
                    .input-prepend
                        span.add-on 
                          i.icon-envelope
                        input#prependedInput.span12(type='email', placeholder='Email' ,id="forgotemail",name = "forgotemail", ng-model = 'Remember.forgotemail' , required)
    
                  .modal-footer
                    button.btn.btn-primary(type="submit") Send
        .centerform
          h3.in Sign up
          form.form-horizontal.front-form(name='registerForm', ng-submit="submitRegister()")
            .alert.alert-error.error(ng-show='validations.invalidEmailFormat')
              p
                strong Email
                |    format is incorrect
            .alert.alert-error.error(ng-show='validations.invalidUsername')
              p
                strong Username
                |    format is incorrect
            .alert.alert-success(ng-show='succesMesages.creationSucces')
              p Succes!!
            .control-group
              .controls
                input#inputUsername(name='username', id='username', ng-model='userObject.user.username', type='text', placeholder='Username', required)
                a.thetool(ng-show='registerForm.username.$error.required' , href='javascript:;', data-toggle='tooltip', data-trigger='hover', data-placement='right' , title='You must enter a username')
                  i.icon-exclamation-sign.moveicon
            .control-group
              .controls
                input#inputUsername(name='email', id='email', ng-model='userObject.user.email', type='text', placeholder='Email', required)
                a.thetool(ng-show='registerForm.email.$error.required' , href='javascript:;', data-toggle='tooltip', data-trigger='hover', data-placement='right' , title='You must enter an email')
                  i.icon-exclamation-sign.moveicon
            .control-group.password
              .controls
                input#inputPassword(name='password', id='password',ng-model='userObject.user.password', type='password', placeholder='Password' , required)
                a.thetool(ng-show='registerForm.password.$error.required' , href='javascript:;', data-toggle='tooltip', data-trigger='hover', data-placement='right' , title='You must enter a password')
                  i.icon-exclamation-sign.moveicon
            .control-group
              .controls
                button.btn.btn-primary.log(type='submit') Sign up
        .centerform.chatnow
          button.btn.btn-large.btn-block.btn-primary.log(type='submit') Or chat anonymously!
    .span6
      .middle
        h1.muted Welcome to talkus!
        p.text-success Chat with people all around the world, or you're neightbor!
