.row-fluid
    .span12
        .well
          form
            fieldset
              .row-fluid.profilepic
                .span2
                  img.img-rounded(src='http://lorempixel.com/100/100/people/')
                .span10
                  .btn-group
                    a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                      | Change picture
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='') Upload photo
                      li
                        a(href='') Delete photo
                  p.muted
                    span Share this photo
                    input(type='checkbox')
              label Name
              input(type='text', placeholder='Real name or alias', ng-model='user.username')
              label Location
              input(type='text', placeholder='Where are you?')
              label Gender
              label.radio.inline
                input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='checked')
                | Male
              label.radio.inline
                input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='checked')
                | Female
              label About you
              textarea