script(src='js/lib/welcome.js')
.container.fill
    #myCarousel.carousel.slide
        .carousel-inner
          .active.item
            .fill(style='background-image: url(http://lorempixel.com/1200/701/);')
              .container
                .carousel-caption
                  h2 What's new?
                  p Here are all the tips and trick in how to use talkus!
          .item
            .fill(style='background-image: url(http://lorempixel.com/1200/702/);')
              .container
                .carousel-caption
                  h2 What's new?
                  p Here are all the tips and trick in how to use talkus!
          .item
            .fill(style='background-image: url(http://lorempixel.com/1200/703/);')
              .container
                .carousel-caption
                  h2 What's new?
                  p Here are all the tips and trick in how to use talkus!
        .pull-center
          a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
          a.carousel-control.right(href='#myCarousel', data-slide='next') ›
