/* app css stylesheet */

body {
background: rgb(53,106,160);

    /*background:url(../img/bkg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
::selection {
    background: rgba(0,0,0,0.2); /* Safari */
    }
::-moz-selection {
	background: rgba(0,0,0,0.2); /* Firefox */
}
.navbar-inner {
  border-radius: 0 0 0 0;
}
.well.format {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  padding: 0;
}
textarea {
  height: auto;
  width:inherit;
}
.span2.right {
  text-align: right;
}
.row-fluid.profilepic img {
  margin-bottom: 10px;
}
.control-group.password{
    margin-bottom:8px;
}
.form-horizontal .controls{
    margin:0;
}
.form-horizontal .control-group{
    margin-bottom: 8px;
}
div.or {
    clear: both;
    border: 1px solid rgba(250, 250, 250, 0.9);
    width: 274px;
    margin-bottom: 10px;
    float:left;
}
.moveicon{
    margin-left:10px;
    background-image:url("../img/glyphicons-halflings-white.png");
}
div.middle{
    height:411px;
    display:table-cell;
    width:100%;
    text-shadow: 0px 0px 8px #000;
    vertical-align: middle;
}
div.middle h1.muted , div.middle p{
    color:#fff;
}
.alert.alert-error p{
    margin:0;
}
.carousel {
    position: fixed;
    margin-bottom: 20px;
    line-height: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index:-1;
}
.carousel .item.active img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
    
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.7;
}
div.centerform {
    float: left;
    clear: both;
    background: rgba(0,0,0,0.2);
    padding: 0 16px;
    box-shadow: 0 0 9px -2px rgb(0, 0, 0) inset;
    width: 247px;
    margin-bottom: 10px;
    border-radius: 10px;
}
div.centerform.chatnow{
    padding:0;
    width:278px;
}
div.row-fluid.home{
    padding-top:50px;
}
div.middle p{
    font-size:20px;
}
h3.in{
    color:#fff;
}
.home .btn.btn-primary.log{
    background: rgba(53, 106, 160, 1);
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2) inset;
    border: none;
}
.home .btn.btn-primary.random{
    background: rgba(0,0,0,0.2);
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2) inset;
    border: none;
}
p.muted.text-center.copyright{
    color:#fff;
}
.home .btn.btn-primary.log:hover{
    background: rgba(0,0,0,0.5);
}
.home .btn.btn-primary.log{
    background: rgba(0,0,0,0.2);
}
.well-large{
}