h1, h2, h3{
    line-height:normal;
}
::selection {
background:#005f8f
}

::-moz-selection {
background:#005f8f
}

.navbar-inner {
border-radius:0
}

.well.format {
background:none;
border:medium none;
padding:0
}

textarea {
height:auto;
width:inherit
}

.span2.right {
text-align:right
}

.row-fluid.profilepic img {
margin-bottom:10px
}

.control-group.password {
margin-bottom:8px
}

.form-horizontal .controls {
margin:0
}

.form-horizontal .control-group {
margin-bottom:8px
}

div.or {
clear:both;
border:1px solid rgba(250,250,250,.9);
width:274px;
margin-bottom:10px;
float:left
}

.moveicon {
margin-left:10px;
background:url(../img/glyphicons-halflings-white.png)
}

div.middle {
height:411px;
display:table-cell;
width:100%;
vertical-align:middle
}

div.middle h1.muted,div.middle p {
color:#9e9e9e
}

.alert.alert-error p {
margin:0
}

.carousel,.item,.active {
height:100%
}

.carousel-inner {
height:100%
}

.fill {
width:100%;
height:100%;
background:cover center
}

div.centerform {
}

div.centerform.chatnow {
padding:0;
width:278px
}

div.row-fluid.home {
padding-top:50px
}

div.middle p {
font-size:20px
}

h3.in {
color:#9e9e9e
}

.home .btn.btn-primary.log {
background:#356aa0;
box-shadow:0 0 5px 0 rgba(0,0,0,.2) inset;
border:none;
background:none repeat scroll 0 0 #005f8f
}

.home .btn.btn-primary.random {
background:rgba(0,0,0,.2);
box-shadow:0 0 5px 0 rgba(0,0,0,.2) inset;
border:none
}

p.muted.text-center.copyright {
color:#fff
}

.home .btn.btn-primary.log:hover {
background:rgba(0,0,0,.5)
}

.well-large {
border-radius:0 0 6px 6px;
overflow-y:scroll
}

.user {
position:fixed;
left:0;
top:0;
height:100%;
width:0;
background:rgba(23,24,26,.9);
overflow-y:scroll;
z-index:2
}

.profile {
position:fixed;
right:0;
top:0;
height:100%;
width:0;
background:rgba(23,24,26,.9);
overflow-y:scroll;
z-index:2
}

.user .span12 .well,.profile .span12 .well {
background:none;
border:medium none;
margin:0
}

div.icon.useri {
background:#005f8f;
border-radius:0 0 17px;
cursor:pointer;
left:0;
padding:10px 5px;
position:fixed;
top:0;
z-index:2
}

.icon.profilei {
background:#005f8f;
padding:10px 5px;
border-radius:0 0 0 17px;
position:fixed;
right:0;
top:0;
cursor:pointer;
z-index:2
}

.icon.profilei [class^="icon-"],.icon.profilei [class*=" icon-"],div.icon.useri [class^="icon-"],div.icon.useri [class*=" icon-"] {
background:url(../img/glyphicons-halflings-white.png)
}

.wrapuser {
position:fixed;
left:0;
top:0;
width:0
}

.text-info {
color:#005f8f
}

.shadow {
-webkit-box-shadow:0 0 4px 2px #fff;
-moz-box-shadow:0 0 4px 2px #fff;
box-shadow:0 0 4px 2px #fff;
transition:all 1s linear
}

.fullHeight {
height:100%;
margin:0;
width:100%
}

.carousel-caption {
color:#fff
}

#about {
width:205px
}

#checklocation {
margin-top:-2px;
margin-left:6px
}

.ui-datepicker-prev.ui-corner-all,.ui-datepicker-next.ui-corner-all {
display:none
}

.uploadimgtrue {
position:absolute;
right:0;
top:-80px;
opacity:0
}

.span12>input#datasend {
bottom:0;
position:absolute;
right:0;
visibility:hidden
}

.span12>textarea#data {
height:35px
}

.profile .well label,legend {
color:#9e9e9e
}

.row-fluid.profilepic .span2 {
position:relative
}

.row-fluid.profilepic .span2:hover ul {
display:block
}

.row-fluid.profilepic .span2 ul {
display:none;
margin:0;
padding:0;
position:absolute;
right:0;
top:0
}

.row-fluid.profilepic .span2 ul li {
background:hsla(0,0,100%,.8);
border-radius:10px;
cursor:pointer;
display:inline-block;
margin-left:4px;
margin-right:2px;
margin-top:3px;
padding:0 3px
}

.row-fluid.profilepic .span2 ul li:hover {
background:#fff
}

.logout {
position:absolute;
right:19px;
top:12px
}

.logout .dropdown-menu>li {
display:block;
padding:3px 20px;
clear:both;
font-weight:400;
line-height:20px;
color:#333;
white-space:nowrap
}

.hero-unit.center.ng-scope {
margin-top:40px
}

.home a.text-info {
position:absolute;
right:46px;
bottom:23px
}

.bubblingG {
text-align:center;
width:200px;
height:125px;
margin:0 auto;
position:relative;
top:25%
}

.bubblingG span {
display:inline-block;
vertical-align:middle;
width:25px;
height:25px;
margin:63px auto;
background:#3742b3;
border-radius:125px;
animation:bubblingG 1.7s infinite alternate
}

#bubblingG_1 {
animation-delay:0
}

#bubblingG_2 {
animation-delay:.51s
}

#bubblingG_3 {
animation-delay:1.02s
}

@-moz-keyframes bubblingG {
    0% {
    width:25px;
    height:25px;
    -moz-transform:translateY(0);
    background:#3742b3
    }
    
    100% {
    width:60px;
    height:60px;
    -moz-transform:translateY(-53px);
    background:#fff
    }
}

@-webkit-keyframes bubblingG {
    0% {
    width:25px;
    height:25px;
    -webkit-transform:translateY(0);
    background:#3742b3
    }
    
    100% {
    width:60px;
    height:60px;
    -webkit-transform:translateY(-53px);
    background:#fff
    }
}

@-ms-keyframes bubblingG {
    0% {
    width:25px;
    height:25px;
    -ms-transform:translateY(0);
    background:#3742b3
    }
    
    100% {
    width:60px;
    height:60px;
    -ms-transform:translateY(-53px);
    background:#fff
    }
}

@-o-keyframes bubblingG {
    0% {
    width:25px;
    height:25px;
    -o-transform:translateY(0);
    background:#3742b3
    }
    
    100% {
    width:60px;
    height:60px;
    -o-transform:translateY(-53px);
    background:#fff
    }
}

@keyframes bubblingG {
    0% {
    width:25px;
    height:25px;
    transform:translateY(0);
    background:#3742b3
    }
    
    100% {
    width:60px;
    height:60px;
    transform:translateY(-53px);
    background:#fff
    }
}
.preview-loading {
display:none;
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
background:rgba(0,0,0,.8);
z-index:1
}
#menumain {
position: fixed;
right: 32px;
top: 15%;
margin-top: auto;
z-index: 1;
}
#menumain span {
display: block;
background: rgba(255,255,255,0.8);
width: 20px;
height: 20px;
margin-bottom: 8px;
padding: 0px;
border-radius: 13px;
cursor:pointer;
-webkit-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
-kthtml-transition: all 0.2s linear;
transition: all 0.2s linear;
}
#menumain span:hover , #menumain span.active{
    box-shadow: 0px 0px 10px 1px #fff;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -kthtml-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#signup , #signin {
font-weight: bold;
color: #fff;
cursor:pointer;
-webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -kthtml-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#signup:hover , #signin:hover{
    opacity:0.5;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -kthtml-transition: all 0.2s linear;
    transition: all 0.2s linear;
}